body {
    margin:0 auto 0 auto;
    font-family: 'lucida grande',trebuchet,'trebuchet ms',verdana,arial,helvetica,sans-serif;
    font-size: 0.9em;
	color: #333333;
	background: #94e4e8 url(html/images/bg.gif) no-repeat top left; 
}

.top {
	width: 100%; 
	margin: 112px auto;
}

.content {
	width: 1000px; 
	background-color: #ffffff; 
	border-right: 1px solid #cccccc; 
	border-bottom: 1px solid #cccccc; 
	padding: 10px 20px 40px 20px; margin: 0 auto;
}

.top .content h1 {
	border-bottom: 1px solid #CCC;
	width: 230px;
}

.tweet {
	padding: 20px 0;
	border-bottom: 1px dashed #CCC;
}

.right-content { 
	float:right; 
}

.left-content {
	width:60%;
}

.img { 
	width: 58px; 
	float: left; 
	display: inline;
	margin-bottom: 5px; 
}


#cloud li.tag1 { font-size: 0.125em; font-weight: 100; }
#cloud li.tag2 { font-size: 0.250em; font-weight: 200; }
#cloud li.tag3 { font-size: 0.375em; font-weight: 300; }
#cloud li.tag4 { font-size: 0.500em; font-weight: 400; }
#cloud li.tag5 { font-size: 0.625em; font-weight: 500; }
#cloud li.tag6 { font-size: 0.750em; font-weight: 600; }
#cloud li.tag7 { font-size: 0.875em; font-weight: 700; }
#cloud li.tag8 { font-size: 1.000em; font-weight: 800; }
#cloud li.tag9 { font-size: 1.125em; font-weight: 900; }
#cloud li.tag10 { font-size: 1.250em; font-weight: 900; }
#cloud li.tag11 { font-size: 1.375em; font-weight: 100; }
#cloud li.tag12 { font-size: 1.500em; font-weight: 200; }
#cloud li.tag13 { font-size: 1.625em; font-weight: 300; }
#cloud li.tag14 { font-size: 1.750em; font-weight: 400; }
#cloud li.tag15 { font-size: 1.875em; font-weight: 500; }
#cloud li.tag16 { font-size: 2.000em; font-weight: 600; }
#cloud li.tag17 { font-size: 2.125em; font-weight: 700; }
#cloud li.tag18 { font-size: 2.375em; font-weight: 800; }
#cloud li.tag19 { font-size: 2.500em; font-weight: 900; }
#cloud li.tag20 { font-size: 2.750em; font-weight: 900; }
#cloud { 
	padding: 10px; line-height: 2em; text-align: center; width:350px; text-align: center; 
	margin: 0;
	border-style:dotted;
	border-width:1px;
	float: right;
	}
#cloud li { padding: 0px; }
#cloud li { display: inline; }