
<!DOCTYPE html>
<html>
	<head>
		<title>Data Mining Results</title>
		<meta charset='utf-8' />
		<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold" rel="stylesheet" type="text/css" />
		<link href="word_cloud.css" TYPE="text/css" rel="stylesheet" MEDIA=screen />
	</head>
	<body>
		<div class="top">
			<div class="content">
				<h1>Tweets results</h1>
				<div class="right-content">
					<div class="word-cloud">
						<ul id="cloud"><li class="tag17">@chaskaborek</li>
							<li class="tag25">rooney</li>
							<li class="tag1">manutd</li>
							<li class="tag17">mufc</li>
							<li class="tag17">mufc</li>
							<li class="tag17">mufc</li>
						</ul>
					</div>
				</div>
				<div class="left-content">
					<div class="">
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
							when an unknown printer took a galley of type and scrambled it to make a type 
							specimen book. It has survived not only five centuries, but also the leap into 
							electronic typesetting, remaining essentially unchanged. It was popularised in 
							the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
						</p>
					</div>
				</div>
				<br class="clear" />
				<br />
				<hr />
				<br />
				<div class="tweet-container">
					<div class="right-tweets">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						Lorem Ipsum has been the industry's standard dummy text ever
						when an unknown printer took a galley of type and scrambled it
						specimen book. It has survived not only five centuries, but
					</div>
					<div class="left-tweets">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						Lorem Ipsum has been the industry's standard dummy text ever
						when an unknown printer took a galley of type and scrambled it
						specimen book. It has survived not only five centuries, but
					</div>
					<div class="right-tweets">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						Lorem Ipsum has been the industry's standard dummy text ever
						when an unknown printer took a galley of type and scrambled it
						specimen book. It has survived not only five centuries, but
					</div>
					<div class="left-tweets">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						Lorem Ipsum has been the industry's standard dummy text ever
						when an unknown printer took a galley of type and scrambled it
						specimen book. It has survived not only five centuries, but
					</div>
				</div>
			</div>
		</div>
	</body>
</html>