<!DOCTYPE html>
<html>
	<head>
		<title>Data Mining Results</title>
		<meta charset='utf-8' />
		<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold" rel="stylesheet" type="text/css" />
		<link href="main.css" TYPE="text/css" rel="stylesheet" MEDIA=screen />
	</head>
	<body>
		<div class="top">
			<div class="content">
				<h1>Results From Football Analyzer</h1>
				<div class="right-content">
					<div class="word-cloud">
						<ul id="cloud">
						</ul>
					</div>
				</div>
				<div class="left-content">
					<div id="stats">
					</div>
				</div>
				<div class="clear"></div>
				<br />
				<hr />
				<br />
				<div class="tweet-container">
				</div>
			</div>
		</div>
	</body>
</html>